body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

button {
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Add hover effect for draggable items */
.draggable {
    transition: transform 0.2s ease;
}

.draggable:hover {
    transform: scale(1.02);
}
